.full-height {
    height: calc(100vh - 73px);
}

.half-height {
    height: calc(75vh - 73px);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.marigin-bottom-md {
    margin-bottom: 30px;
}

//parallax
.parallax {
    .fa{
        color: white;
    }
    color: white;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

//image centeri ng
.img-centering {
    position: relative;
    overflow: hidden;
    img {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }
}
