.full-height {
    height: calc(100vh - 73px);
}

.half-height {
    height: calc(75vh - 73px);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.marigin-bottom-md {
    margin-bottom: 30px;
}
