// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Variables
@import "variables";
@import "helpers";

// Pages
@import "pages/welcome";

//Components
@import "components/main";
@import "components/hero";
@import "components/section";
@import "components/footer";
@import "components/imageCard";
@import "components/cardDeck";
@import "components/carouselComp";

// Bootstrap overrides
.navbar-light {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    transition: all 150ms ease;
}

.navbar-dark {
    transition: all 150ms ease;
    .navbar-nav .nav-link {
        color: white;
    }

    .collapsing .navbar-nav .nav-link {
        color: transparent;
    }
}

//parallax
.parallax {
    .fa{
        color: white;
    }
    color: white;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
