.section {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #3c4858;
    &__title {
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        text-align: center;
        font-size: 22px;
    }
}
